body {
    font-size: 16px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

.ant-card {
    .ant-card-cover {
        max-height: 120px;
        overflow: hidden;
    }
    .ant-card-meta-title {
        font-size: 12px;
    }
    .ant-card-meta-description {
        font-size: 12px;
    }
}

.article-page {
    margin-top: 3em;
    padding-bottom: 4em;
    .content {
        margin-bottom: 5em;
    }
}

.navigator {
    margin-bottom: 2em;
}

.prev-next {
    strong {
        font-size: .8em;
    }
    .prev {
        text-align: left;
    }
    .next {
        text-align: right;
    }
}